.graphWrapper{
    width: 88%;
    min-height: 70%;
    border: 1px solid #E0E0E0;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 8% 8% #1A1A1A;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.graphHeader{
    width: 100%;
    height: 10%;
    // background-color: red;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.expandBtn{
    display: flex;
    border: 1px solid #E0E0E0;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 12%;
    height: 80%;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #FCFCFC;
}

.card{
    height: 100px;
    width: 22%;
    border: 1px solid #E1E1E2;
    border-radius: 10px;
    background-color: #FCFCFC;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
}

.summaryCardWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.category{
    height: 35px;
    width: 80px;
    margin-top: 10px;
}